# Node modules
**/node_modules

# Next.js build
frontend/.next

# Logs and messages
backend/messages/
backend/models/logs.js
backend/logs/logsold.js

# Environment files
**/.env

# Credentials
credentials.json
